# **Why Python**

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

web development (server-side),
software development,
mathematics,
system scripting.
What can Python do?
Python can be used on a server to create web applications.
Python can be used alongside software to create workflows.
Python can connect to database systems. It can also read and modify files.
Python can be used to handle big data and perform complex mathematics.
Python can be used for rapid prototyping, or for production-ready software development.
Why Python?
Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
Python has a simple syntax similar to the English language.
Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
Python can be treated in a procedural way, an object-oriented way or a functional way.

Interesting documentries, tools, projects and products built using AI.

# **Hello World**

Print statements in python

In [ ]:
print("Pakistan")
print('Pakistan')

Pakistan
Pakistan

# **What are data types?**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

![Python-data-structure.jpg]()

# **Getting the data type**

You can get the data type of any object by using the type() function:

In [ ]:
a = 8
print(a)
print(type(a))

8
<class 'int'>

In [ ]:
b = 312

print(type(b))

<class 'float'>

In [ ]:
c = '5'
print(c)
print(type(c))

5
<class 'str'>

In [ ]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

# **Variables**

Variables are containers for storing data values.

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
a = 3
b = "bat"
c = 'cat'
d = True
e = 3.6

print(a,b,c,d,e)

#  here we are printing all the variables...

3 bat cat True 3.6

Overwriting changes values of a variable

In [ ]:
a = 5
a = 8
a = "Zayyan"
print(a)

#  the variable is same but the latest updated value is stored only....
# here we understood how variables overrite values...

Zayyan

# **Case Styles**

1. camelCase
2. PascalCase
3. snake_case
4. kebab-case

# **Comment**

In [ ]:
# We use hash to comment a line
print("Hello")

Hello

In [ ]:
# We use triple single qouation for commenting a paragraph or multiple lines in code

'''This is first workshop of AI
Today we will learn about python andd its libraries

asdjnasd
asda

'''

# **String**

In [ ]:
# Initializing strings

country = "Pakistan"   # Double qoutations for initializing the string
city = 'Karachi'  # Single qoutations for initializing the string

##**Conctenation**

Concatenation means joining multiple strings together.
To concatenate, or combine, two strings you can use the + operator.

In [ ]:
first_name = "Zayyan"
last_name = "Usmani"

#  ok these are strings and we are concatenating multiple strings together

a = "blue"
b = "car"

print("I want to wash the "+ a+" "+b)
print(first_name+" "+last_name)

I want to wash the blue car
Zayyan Usmani

In [ ]:
mood1 = "happy"
mood2 = "angry"
mood3 = "sad"

print("I am "+mood1)

# here i can join any string that I want

I am happy

# **Input**

# Input functions let's the user give input. The default data type of input() function is STRING.

In [ ]:

print("Enter your name")

name = input()   # here i am taking the name as input

print("Your name is "+name) # here I am concatenating the name with the input variable name.....
print(type(name))  # here I am checking the datatype of the input variable


#  It is returning a string...

Enter your name
Zayyan
Your name is Zayyan
<class 'str'>

In [ ]:
a = input()

print(a)
print(type(a))

#  now let's see what will happen if i give a number as an input...

# It took the number 3 as "3" ... like 3 in  qoutations.....

3
3
<class 'str'>

In [ ]:
a = "2"
b = "2"
print(a+b)


# This prevents us from using matheatical operations on the numbers....

#  mathematically the output of this code should be 4...
#  but since these are strings they just concatenate instead of adding...got it??

#  now to add these numbers we will have to change their data types.

22

In [ ]:
x = 2
y = 2
print(x+y)

#  now pay attention here... this is returning 4 because these variables have int stored in them.....

4

In [ ]:
a = input()
b = input()

print(a+b)

#  IT IS CALLED CASTING...CHANGING THE DATA TYPES OF THE VARIABLES....
#  NOW READ WITH ME...

# **Casting**

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:

a = str(5)  # here I have wrapped an int with str...str for string

#  now when I'll run the code it'll return string...

print(type(a))
print(a)

# here i am getting an int data type bcoz its an integer....now let's change its data type...

<class 'str'>
5

In [ ]:
a = 2
b = 2

# just like we can go from int to str... we can also go from str to int...

print(a+b)

#  since these were integers...they add up to 4...

4

In [ ]:
a = int(input())  # here we have used casting...
b = int(input())
# the input function's default data type was string so we converted that to int and then used it for addition....
print(a+b)

2
2
4

In [ ]:
print(3+6)  # addition
print(3-6)  # subtraction
print(3*6)  # multiplication
print(3/6)  #division

9
-3
18
0.5

# **INDEXING**

In [ ]:
#  ok so here's a string

#  this is how indexing works in python

color = "yellow"

# here the indexing is as follows...
#  y = 0
#  e = 1
#  l = 2
#  l = 3
#  o = 4
#  w = 5

# Here we have yellow

# Look you will have to check on which index you are getting the letter "l"

# No we have e at index 1
# we have to get l not

# if i want to print y from the string i will give the address of y in the variable...
#  let me show you

print(color[4])  # <--- in here

# ok so now let's say that I don't want to print the whole string..I want to get a literal from the string...

# THERE'S ONE THING THAT IS VERY IMPOTRANT. IN PROGRAMMING COUNTING THE ADDRESSES STARTS FROM ZERO...

o

# **Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:

# ok slicing is self explanatory...
#  the way we slice a cake... we can also slice strings, lists, tuples etc...let's focus on strings only for now...

# here I have a string by the name of a It's value is "Australia" ... Now I want to slice it

# Now let's slice it

a = "Australia"

# let's break it down...
# A = 0
# u = 1
# s = 2
# t = 3
# r = 4
# a = 5
# l = 6
# i = 7
# a = 8

# ok can u explain this example??
# explain the output stra

# THESE ARE THE INDEXES....

# when we give the range. the preceeding value or the ending value is excluded. that is why we didn't have 6th value in the output....

print(a[2:6]) # here the we printed from index 2 to index 5. since the preceeding value is exclusive. in these brackets we define the RANGE for slicing..

stra

In [ ]:
 

# ok now you know indexes work. 

# SAY THE INDEX NUMBER maan 
# yeah its b and since it is the first letter of the string its index is 0...ok??
# print(a[5])

# ok count the indexes with me...

# now look at this line

a = "boomerang"
# print(a[3:7])  # ok so what will be the output if i slice the string a that is storing boomerang from the index 3 to 7

# No it will not print the whole string bcoz we have sliced out a part of it... It will not print boomerang but a part of it

# a[inclusive : exclusive]


# print(a[3:8])

#  ok now let's see what will be the output if we leave the ending range blank...
# print(a[3:]) # it will print till the end of the string...


#  what if we give the ending a=index number that is bigger than the last index number? like...
# print(a[3:44])
print(a[:]) # what will this one print??

boomerang

# **Relational** **operators**

In [ ]:

print(3<9) # less than
print(3>9)
print(3<=9) # either 3 is less than 9 or equal to
print(3>=9) # either 3 is greater than 9 or equal to 9
# now pay attention to the double equals sign. we use double equal sign when we are comparing the values
print(3 == 9) # is equals
# and here we have not equals sign... !=
print(2!=9)   # not equals

# **IF ELSE ELIF**

We use if, else & elif conditions to compare the statements.

**Identation:** In python, scope is defined by identation.

In [ ]:

# the code that is in the if codition will execute when the condition is true and when the condition is false the code in else is executed.
if 4<5:  
  print("Green")
else:
    print("Red")
print("Hot Summers")

# now if i give a space before this line, it'll come inside the scope of else




#  hot summers is actually not in any of those. niether in if nor else. It'll print regardless of the condition being true or false.
#  this is called SCOPE.
# print("Hot Summers") is outside the scope of if and else. 


#

Green

In [ ]:
c = 3

if c == 1:
  print("alfafn")
elif c== 2:
  print("asdasd")
elif c == 3:
  print("asda")


else:
  print("Invalid input")

asda

In [ ]:
number = 55


if c == 1:
  
if number >= 55:
  print("We have won")
else:
  print("We have lost")


# We are getting we have lost because number is equals to 55 not less than 55

We have won

In [ ]:
a = "red"


if a is "yellow":
    print("It's Yellow")
    
elif a is "blue":
    print("It's blue")
    
elif a is "red":
    print("It's red")
    
else:
    print("None")
print("sky")

# **or and**

In [ ]:
a = "blue"
b = 6

if a == "blue" and b == 6: # and checks if both the conditions are true
    print("It's Yellow")
    
elif a == "blue":
    print("It's blue")
    
else:
    print("None")

It's Yellow

In [ ]:
x = "blue"

y = 9
if x == "red" or y == 9: #  checks if either is true
    print("Yahoooo")
else:
  print("kuch bhi")

In [ ]:
# Take name as input
# Take gender as input

# Check if the name is Misbah and gender is Female

print("What is your name?")
name = input()
print("What is your gender?")
gender = input()

if name == "misbah" and gender == "female":
  print("You may proceed")
else:
  print("You may leave")

What is your name?
misbah
What is your gender?
male
You may leave

# **Make a calculator**

1. Take two numbers as input
2. Apply casting
3. take a comparing variable as input
4. user should select the operation he has to perform

The user should be able to select the mathematical operation he has to perform.

In [ ]:
print("Enter the value for a")
a = int(input())

print("Enter the value for b")
b = int(input())

print()
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")
print()

x = int(input())

if x == 1:
  print(a+b)
elif x == 2:
  print(a-b)
elif x == 3:
  print(a*b)
elif x == 4:
  print(a/b)
else:
  print("Invalid input")

Enter the value for a
5
Enter the value for b
12

1. Add
2. Subtract
3. Multiply
4. Divide

1
17

# **LIST**

Lists are used to store multiple items in a single variable.
Lists are mutable i.e, changeable.

Lists are created using square brackets.

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

In [ ]:
a = [1,3,5,7,12.22,3.12]
print(a)

[1, 3, 5, 7, 12.22, 3.12]

In [ ]:
a = [1,2,"abc",5.8,True,'oop',12,5]

print(a[2:7])

['abc', 5.8, True, 'oop', 12]

In [ ]:
print(type(a))

<class 'list'>

In [ ]:
print(a[4])

True

In [ ]:
# # Changing the value
a[4] = 6
print(a)

[1, 2, 'abc', 5.8, 6, 'oop', 12, 5]

In [ ]:
# find the length of a
print(len(a))

8

In [ ]:
# finding data type of individual element
print(type(a[3]))

<class 'float'>

Make a list of 5 fruits
print the list
print the third fruit
change the value of the third address to potato

In [ ]:
#  Slicing in list
print(a[1:4])

print(a[3:])

[2, 'abc', 5.8]
[5.8, 6, 'oop', 12, 5]

In [ ]:
# insert is used to insert element in the list .insert(address,element)
a = ["bike","boat","plane"]
b = ["Karachi","Lahore","Islamabad","Quetta","Peshawar"]
print(a)
a.insert(2,"car")
print(a)

['bike', 'boat', 'plane']
['bike', 'boat', 'car', 'plane']

In [ ]:
# pop() function removes last element from a list
for x in a
  a.pop()

print(a)

['bike', 'boat', 'car']

In [ ]:
b = ["cherry","apple","banana","mango","avocado"]

b.remove("apple")
print(b)

['cherry', 'banana', 'mango', 'avocado']

In [ ]:
v = [23,11,54,"avocado","dodo","Zebra"]

print("1" in v)

True

# **Make a list of 5 colors and check if the a specific color is in the list or not**

In [ ]:
colors = ["red","blue","black"]

In [ ]:
# We use in keyword to check elements in lists,tuples,strings etc

a = [1,2,3,4]



print(2 in a )

colors = ['red','yellow','blue','black','white']

if 'black' in colors:
  print(True)

True
True

In [ ]:
for x in colors:
  if x == "black":
    print(True)

True

# **Tuples**

Tuple are used to store multiple items in a single variable.
Tuple are immutable i.e, not changeable.

Lists are created using square brackets.
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Note: There are some list methods that will change the order, but in general: the order of the items will not change.

Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Allow Duplicates
Since lists are indexed, lists can have items with the same value.

In [ ]:
a = (1,4,5)

a[2] = 1
print(a)

TypeError: ignored

In [ ]:
a = (1,3,4,"asd")

print(type(a))

print(a[3])

print(a[1:3])

# find the length of a
print(len(a))

# a[3] = 5
# this will give an error as tuples are immutable

<class 'tuple'>
asd
(3, 4)
4

# **Loops**
In computer programming, a loop is a sequence of instruction s that is continually repeated until a certain condition is reached. 


There are two types of loops in python
1. for loops
2. while loops

# **Difference bw for and while loops**

The difference between for loop and while loop is that in for loop the number of iterations to be done is already known and is used to obtain a certain result whereas in while loop the command runs until a certain condition is reached and the statement is proved to be false.

In [ ]:
for x in range(1):
  print("Camels")

Camels

In [ ]:
for x in range(5):
  print("car")
  print("water")
  print("bike\n")
print("India")
print("USA")

car
water
bike

car
water
bike

car
water
bike

car
water
bike

car
water
bike

India
USA

In [ ]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
print(2*5)

10

In [ ]:
for x in range(15):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
# printing table of 2
    
for x in range(1,11):
   print("2 * "+str(x)+" = ",x*2)

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
2 * 10 =  20

In [ ]:
    
# Iterating through a string
a = "Programming"

for x in a:
  print(x)

P
r
o
g
r
a
m
m
i
n
g

In [ ]:
# Iterating through a list

b = [1,3,4,"asd",3.4]

for x in b:
    print(x)

1
3
4
asd
3.4

In [ ]:
# Iterating through a tuples

b = (1,3,4,"asd",3.4)
for x in b:
    print(x)

1
3
4
asd
3.4

In [ ]:
for i in range(10):
    print("Irfan")

In [ ]:
for i in range(5, 11):
    print(5*i)

25
30
35
40
45
50

In [ ]:
color = ['red', 'black', 'yellow', 'white','blue']
for i in color:
    print(i)

In [ ]:
a = 1

a += 1  # a = a + 1

# While loop

In [ ]:
a = 0

while a < 5:
  print("car")
  a += 1

car
car

# **Nested loop**

nested loop means loop inside a loop

In [ ]:
for x in range(10):
    print(x)
    for y in range(5):
        print("car")

0
car
car
car
car
car
1
car
car
car
car
car
2
car
car
car
car
car
3
car
car
car
car
car
4
car
car
car
car
car
5
car
car
car
car
car
6
car
car
car
car
car
7
car
car
car
car
car
8
car
car
car
car
car
9
car
car
car
car
car

In [ ]:
for x in range(1,11):
  for y in range(1,11):
   print(x," * "+str(y)+" = ",x*y)
  print()

1  * 1 =  1
1  * 2 =  2
1  * 3 =  3
1  * 4 =  4
1  * 5 =  5
1  * 6 =  6
1  * 7 =  7
1  * 8 =  8
1  * 9 =  9
1  * 10 =  10

2  * 1 =  2
2  * 2 =  4
2  * 3 =  6
2  * 4 =  8
2  * 5 =  10
2  * 6 =  12
2  * 7 =  14
2  * 8 =  16
2  * 9 =  18
2  * 10 =  20

3  * 1 =  3
3  * 2 =  6
3  * 3 =  9
3  * 4 =  12
3  * 5 =  15
3  * 6 =  18
3  * 7 =  21
3  * 8 =  24
3  * 9 =  27
3  * 10 =  30

4  * 1 =  4
4  * 2 =  8
4  * 3 =  12
4  * 4 =  16
4  * 5 =  20
4  * 6 =  24
4  * 7 =  28
4  * 8 =  32
4  * 9 =  36
4  * 10 =  40

5  * 1 =  5
5  * 2 =  10
5  * 3 =  15
5  * 4 =  20
5  * 5 =  25
5  * 6 =  30
5  * 7 =  35
5  * 8 =  40
5  * 9 =  45
5  * 10 =  50

6  * 1 =  6
6  * 2 =  12
6  * 3 =  18
6  * 4 =  24
6  * 5 =  30
6  * 6 =  36
6  * 7 =  42
6  * 8 =  48
6  * 9 =  54
6  * 10 =  60

7  * 1 =  7
7  * 2 =  14
7  * 3 =  21
7  * 4 =  28
7  * 5 =  35
7  * 6 =  42
7  * 7 =  49
7  * 8 =  56
7  * 9 =  63
7  * 10 =  70

8  * 1 =  8
8  * 2 =  16
8  * 3 =  24
8  * 4 =  32
8  * 5 =  40
8  * 6 =  48
8  * 7 =  56
8  * 8 =  64
8  * 9 =  72
8  * 10 =  80

9  * 1 =  9
9  * 2 =  18
9  * 3 =  27
9  * 4 =  36
9  * 5 =  45
9  * 6 =  54
9  * 7 =  63
9  * 8 =  72
9  * 9 =  81
9  * 10 =  90

10  * 1 =  10
10  * 2 =  20
10  * 3 =  30
10  * 4 =  40
10  * 5 =  50
10  * 6 =  60
10  * 7 =  70
10  * 8 =  80
10  * 9 =  90
10  * 10 =  100

In [ ]:
for x in range(10):
  print(x)
  for y in range(4,6):
    print(y)

0
4
5
1
4
5
2
4
5
3
4
5
4
4
5
5
4
5
6
4
5
7
4
5
8
4
5
9
4
5

In [ ]:
# for x in range(10):
#     print(x)
#     for y in range(x):
#         print("car")
        

        
for x in range(1,11):
    for y in range(1,11):
        print(x," * ",y," = ",x*y)
    print("\n")

#Make a calculator that takes two values as input and perform the four arithematic operations on them (add,subtract,multiply,divide)

#multiplication *

# division /

In [ ]:
a = int(input()) 
b = int(input())

print(a+b)
print(a-b)
print(a*b)
print(a/b)

# **Functions**

Functions are used to perform specific tasks.
In python, functions are defined with the def keyword. Functions helps us to reuse the code.

In [ ]:
def destination(place):
  print("We are going to "+place)

destination("New York")
destination("California")

We are going to New York
We are going to California

In [ ]:
def plumber():
  print("Fixing your kitchen")
  print("Fix the bathroom")

def carpenter():
  print("Fixes the furniture")

def cook():
  print("I cook your food")

plumber()
cook()
carpenter()

# Make a function of your choice
# Print the tasks assigned to it
# Call the function



def tour_guide():
  print("Lesss gooooo!!!")

Fixing your kitchen
Fix the bathroom
I cook your food
Fixes the furniture

In [ ]:
def abc():
  print("greetings from function abc")
  print("Hola")

abc()

greetings from function abc
Hola

In [ ]:
def greetings(name):
  print("Welcome home ,"+name)

greetings("Zayyan")
greetings("Ali")
greetings("Usama")
greetings("Salar")

Welcome home,Zayyan
Welcome home,Ali
Welcome home,Usama
Welcome home,Salar

**Sending arguments in a function**

In [ ]:
def greetings(name):
  print("Hi "+name)

greetings("Zayyan")
greetings("Omar")

Hi Zayyan
Hi Omar

In [ ]:
def add(a,b):
  print(a+b)

add(4,8)
add(2,2)
add(3,9)

12
4
12

**Functions that return values**

In [ ]:
def add(a,b):
  print("Inside function")
  print(a+b)
  return a+b

a = add(1,3)

print("Outside function")
print(a)

Inside function
4
Outside function
4

# **Dictionaries**

In [ ]:
a = {
    'car': "mercedez",
    'model': 2021
}

print(a)
print(type(a))

# Make a dictionary
# print it
# print its data type

{'car': 'mercedez', 'model': 2021}

In [ ]:
person = {
    "name":"Ali",
    "age":12,
    "sports": "Soccer",
    "country": "Australia",
  }

print(person["country"])

print("Before changing")
print(person)

# changing the value
person["sports"] = "Golf"


print("After changing")

print(person)

# change the a value
# print the whole dictionary

In [ ]:
print(len(person))

4

In [ ]:
print(person.keys())

dict_keys(['name', 'age', 'sports', 'country'])

In [ ]:
print(person.values())

dict_items([('name', 'Ali'), ('age', 12), ('sports', 'Golf'), ('country', 'Australia')])

In [ ]:
print(person.items())

dict_items([('name', 'Ali'), ('age', 12), ('sports', 'Golf'), ('country', 'Australia')])

In [ ]:
for x in person:
  print(person[x])

Ali
12
Golf
Australia

In [ ]:
a = [1,4,34,"23424",[1,2,3,"asca"]]

# print(a)

for x in a:
  print(x)

1
4
34
23424
[1, 2, 3, 'asca']

In [ ]:
# Nested dictionaries (dictionary inside a dictionary)

person = {
    'person1':{
    "name":"Ali",
    "age":12,
    "sports": "Soccer",
    "country": "Australia",
  },

  'person2':{
      
    "name":"Ayesha",
    "age":14,
    "sports": "MMA",
    "country": "Sweden",
  
  }
}

# print(person["person2"])
print(person.values())
print(person.keys())
print(person.items())
print(len(person))

dict_values([{'name': 'Ali', 'age': 12, 'sports': 'Soccer', 'country': 'Australia'}, {'name': 'Ayesha', 'age': 14, 'sports': 'MMA', 'country': 'Sweden'}])
dict_keys(['person1', 'person2'])
dict_items([('person1', {'name': 'Ali', 'age': 12, 'sports': 'Soccer', 'country': 'Australia'}), ('person2', {'name': 'Ayesha', 'age': 14, 'sports': 'MMA', 'country': 'Sweden'})])
2

In [ ]:
for x in person:
  print(person[x])

{'name': 'Ali', 'age': 12, 'sports': 'Soccer', 'country': 'Australia'}
{'name': 'Ayesha', 'age': 14, 'sports': 'MMA', 'country': 'Sweden'}

In [ ]:
for x in person:
  print("key",x)
  print("value",person[x])

key name
value Ali
key age
value 12
key sports
value Golf
key country
value Australia

In [ ]:
print("1. Addition")
print("2. Subtraction")

In [ ]:
print("Enter the first number")
a = int(input())

print("Enter the second number")
b = int(input())

print("Select the operation")

print("1. Addition\n2. Subtraction\n3. Multiplication\n4. Division")


x = input()

Enter the first number
2
Ener the second number
4
Select the operation
1. Addition
2. Subtraction
3. Multiplication
4. Division

In [ ]:
a  = "3"

print(type(a))

a = int(a)

print(type(a))

<class 'str'>
<class 'int'>

Make a dictionary

In [ ]:
a = [23, 12, 53, 62, 23]

largest = 1

for x in a:
  print(x)
  if x > largest:
    largest = x
  print("largest so far",largest)

print("Largest num from the list is ",largest)

23
largest so far 23
12
largest so far 23
53
largest so far 53
62
largest so far 62
23
largest so far 62
Largest num from the list is  62